<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>428276461174-69td2cvf1ekgcl6fiebj2tlsm8r5sdn0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.428276461174-69td2cvf1ekgcl6fiebj2tlsm8r5sdn0</string>
	<key>API_KEY</key>
	<string>AIzaSyA9xYMjWH6ha89C1KcYZqiFRa3JWSoCgNA</string>
	<key>GCM_SENDER_ID</key>
	<string>428276461174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.IsmailElmaliki.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-3eccf</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-3eccf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428276461174:ios:170d9aea0d6f132e</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-3eccf.firebaseio.com</string>
</dict>
</plist>